body{
  background-color: #232931;
  color: #EEEEEE;
  font-family: "Avenir Next", "Avenir", sans-serif;
}

a{
  color: #8D6262;
  text-decoration: none;
}

.important{
  color: #4ECCA3;
}

#logo{
  color: #4ECCA3;
}